{% load crispy_forms_tags%}
{% load static%}


<h3>Restablecimiento de Contraseña</h3>  

<p>Si olvido su Contraseña, favor digite su correo electronico, le enviaremos las instrucciones para obtener una contraseña nueva</p>
<form action="" method="POST">
    
    {% csrf_token %}
    <table>

                    {{form.as_table}}
                </table>
                    <br>
                    
                    <input type="submit" name="Enviar Correo Electronico">
                        <br>
                    </form>