{% extends "ProyectoWebCoop/base.html" %}

  {% load static %}

    {% block content %}
    <title>Nosotros</title>

    <br><br><br>
    <h2 class = "text-center text-white"> <b> Nosotros </b> </h2>
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'ProyectoWebCoop/img/jovenyacoop35.jpeg' %}" style="width: 58%"alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
               
                <span class="section-heading-lower">Mision</span>
              </h2>
              <p class="mb-3">Mejorar la calidad de vida de nuestros socios, por medio de la práctica efectiva de valores y principios cooperativistas. 
                  El sistema cooperativista aporta al desarrollo económico de las personas asociadas, las comunidades y por ende del país, porque se 
                  trabaja con la meta de alcanzar el bien común, con mucha dedicación, esfuerzo, trabajo, cooperación y solidaridad.
              </p>
             
            </div>
          </div>
        </div>
      </section>

<br><br><br>
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'ProyectoWebCoop/img/jovenyacoop2.jpeg' %}" style="width: 58%"alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
               
                <span class="section-heading-lower">Vision</span>
              </h2>
              <p class="mb-3">Conseguir ser la mejor opción para la satisfacción de las necesidades de nuestros asociados por medio de productos y servicios de alta calidad. 
                  Que de manera eficiente el productor agropecuario pueda satisfacer sus necesidades y propagando los principios del cooperativismo en cada una de nuestras gestiones, 
                  siempre en busca de que se desarrollen ideas los más amigables al medio ambiente posible. 
              </p>
             
            </div>
          </div>
        </div>
      </section>
      
<br><br><br>      
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'ProyectoWebCoop/img/jovenyacoop42.jpeg' %}" style="width: 58%"alt="">
            <div class="intro-text left-0  bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
               
                <span class="text-center section-heading-lower">Valores</span>
              </h2>
              <ul>
                <li>Respecto</li>
                <li>Equidad</li>
                <li>Solidaridad</li>
                <li>Autorresponsabilidad</li>
                <li>Igualdad</li>
                <li>Democracia</li>
                <li>Honestidad </li>
                <li>Responsabilidad Social</li>
            </ul>
             
            </div>
          </div>
        </div>
      </section>
<br><br><br><br><br>
    {% endblock %}